<div class="row" data-ng-hide="!authentication.isAuth">
   <form class="form" name="addPostForm">
      <div class="input-group">
         <input name="postMessage" type="text" class="form-control" placeholder="What's going on?" data-ng-model="postData.message" required />
         <span class="input-group-btn">
            <button class="btn btn-info" data-ng-click="addPt.submit()" type="button">Submit</button>
         </span>
      </div>
      <div data-ng-hide="message == ''" class="alert alert-danger">
         {{message}}
      </div>
   </form>
</div>
