@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
   <title>title</title>
   @Styles.Render("~/Content/Css")
</head>
<body>
<div>
     <h1>Hello, World!</h1>
</div>
   
   @Scripts.Render("~/bundles/vendors")
</body>
</html>